numpy
scipy
operator-courier
contextlib2
pytest-warnings
matplotlib
pandas
tqdm
memory_profiler
kuramoto
networkx
p_tqdm
git+https://github.com/manu-mannattil/nolitsa.git
numba
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
validators>=0.21.0 # not directly required, pinned by Snyk to avoid a vulnerability
